

@media screen 
and (max-width: 1250px)
{
    #main1 .navbar{
        /* background: #d80d0d; */
    }
    #main2{
        display: none;
    }
    
}




/* =========== POUR TABLETTE =========== */

@media screen 
and (max-width: 820px)
{

    #main1 .navbar{
        /* background: #250dd8; */
    }

    .body_main .body_main2{
        grid-template-columns: 1fr;
    }


    .body_main1 .contenu_desc{
        font-size: 10px;
    }


}










/* =========== POUR SMARTPHONE =========== */

@media screen 
and (max-width: 575px)
{
    #main1 .navbar{
        /* background: yellow; */
    }

    .body_main1 .contenu_desc{
        font-size: 10px;
        line-height: 0px;
    }
    .body_main1 .contenu_desc h2{
        font-size: 14px;
    }

    .gauche_elem .contenu_desc{
        font-size: 14px;
    }
}